<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>new-page</title>
  </head>
  <body>
    <!--!!!!!-->
    <!--! MAIN-WRAP -->
    <div class="main-wrap">
      <!--& NAV -->
      <!--^^^^^^-->
      <nav class="nav">
        <div class="logo-wrap">
          <img src="/img/git-bash-icon.png" alt="" class="logo__icon" />
          <p class="logo__tag">ITS&nbsp;Git&nbsp;Bash</p>
        </div>
        <!--& LINKS -->
        <!--^ ^^^^^^-->
        <ul class="link__list">
          <li class="link">
            <a href="">Create & Link New Repository</a>
          </li>
        </ul>
      </nav>
      <secton class="article-wrap">
        <article class="article">
          <h1>🚀 this is an h1 📖</h1>
          <h2>🛡️ here is an h2 element ⚔️</h2>
          <h3>an h3 for you to see</h3>
          <p>this is a 'p' element 🛠️</p>
          <div class="code">
            <p>
              div.code containing a 'p' <br />
              this code box is designed not to ever break a line of text unless
              you use a 'br' linebreak element <br />
              it also can only handle a single 'p' <br />
              <em class="orng">this is in a div.code wrap by em.orng</em
              ><br /><em class="grn">in a div.code wrap by em.grn</em>
            </p>
          </div>
        </article>
      </secton>
    </div>
    <!--! MAIN-WRAP -->
    <!--! !!!!!!! -->
  </body>
</html>
